{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tests list</h1>
    <form>
    <input type="text" id="rechercheInput">
    </form>

    <div id="divReponseRecherche">
            {% include 'AppBundle:test:ajax_liste.html.twig' with {'tests' : tests}  %}
    </div>

    <ul>
        <li>
            <a href="{{ path('test_new') }}">Create a new test</a>
        </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $('#rechercheInput').keyup(function () {
            form = $(this);

            var motcle = $("#rechercheInput").val();
            var DATA = 'motcle=' + motcle;

            $.ajax({
                type: "POST",
                url: "{{ path('test_ajax')}}",
                data: DATA,
                cache: false,
                success: function(data){
                    $('#divReponseRecherche').html(data);
                }
            });
        });
    </script>
{% endblock %}
